.botao-principal {
   display: inline-block;
   padding: 20px 42px 20px 42px;
   background: var(--cor-botao);
   border-radius: 4px;
}

.botao-principal a {
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 16px;
}

.botao-principal:hover {
   background-color: var(--cor-botao-sombra);
   transition: 0.9s;
}
.botao-principal::after {
   content: "➝";
   padding-left: 10px;
   position: relative;
   display: inline-block;
}

.botao-principal:hover::after {
   transform: translate(5px);
   transition: 0.9s;
}

.botao-secundario {
   display: inline-block;
   padding: 20px;
   font-family: "Poppins";
   font-weight: 600;
   font-size: 15px;
   background: var(--cor-botao);
   border-radius: 4px;
}

.botao-secundario:hover {
   background-color: var(--cor-botao-sombra);
   transition: 0.9s;
}

.botao-projetos {
   display: flex;
   justify-self: center;
   padding: 20px 42px 20px 42px;
   background: var(--cor-botao);
   border-radius: 4px;
   font-family: "Poppins";
   font-weight: 600;
   font-size: 16px;
}