/* Estilo Mobile*/
@media screen and (max-width: 730px) {
   .projetos-layout {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 30px;
      background-color: var(--cor-fundo-2);
      color: #ffffff;
   }

   .projetos-layout h1 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 18px;
   }

   #projetos-introducao {
      display: flex;
      margin-top: 50px;
      padding: 60px;
      background-color: var(--cor-fundo-1);
   }

   .projetos-descricao {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
   }

   .projetos-descricao h1 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 22px;
      color: #000000;
   }

   .projetos-descricao p {
      padding-top: 15px;
      color: #000000;
      font-family: "Poppins";
      font-weight: 300;
      font-size: 17px;
      text-align: justify;
   }

   .projetos-frame {
      display: grid;
      grid-template-columns: 1fr;
      gap: 100px;
   }

   .projetos-card {
      margin-top: 80px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      padding: 40px;
   }

   .projetos-card img {
      padding-top: 50px
   }

   .projetos-card h4 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 18px;
      color: #000000;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 18px;
   }

   .projetos-card p {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      text-align: justify;
      line-height: 1.5;
      padding-bottom: 18px;
      
   }

}

/* Estilo Tablet */
@media screen and (min-width: 768px) {

}

/* Estilo Desktop */
@media screen and (min-width: 1024px) {
   #projetos-introducao {
      display: flex;
      margin-top: 50px;
      padding: 60px;
      background-color: var(--cor-fundo-1);
   }

   .projetos-layout {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 30px;
      background-color: var(--cor-fundo-2);
      color: #ffffff;
   }

   .projetos-layout h1 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
   }

   .projetos-descricao {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
   }

   .projetos-descricao h1 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 25px;
      color: #000000;
   }

   .projetos-descricao p {
      padding-top: 15px;
      color: #1a1a1a;
      font-family: "Poppins";
      font-weight: 300;
      font-size: 18px;
   }

   .projetos-frame {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      background-color: #f5f5f5;
      margin-top: 50px;
      padding: 70px;
      gap: 85px;
   }

   .projetos-imagem {
      padding: 0px 50px 0px 50px;
    }

   .projetos-conteudo h4 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 28px;
      color: #000000;
      padding-bottom: 25px;
      text-align: center;
   }

   .projetos-conteudo p {
      text-align: center;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 18px;
      padding-bottom: 25px;
      line-height: 1.5;
      color: rgb(0, 0, 0);
   }
}





