:root {
   --cor-sombra-1: #000000;
   --cor-sombra-2: #000000;
   --cor-footer-2: #c9c9c9;
   --cor-fundo-1: #FDCB02;
   --cor-fundo-2: #000000;
   --cor-fundo-3: #d6d5d5;
   --cor-botao: #FDCB02;
   --cor-wpp: #4aeb44;
   --cor-botao-sombra: #f8cd23;
   --cor-detalhe:#FDCB02;
   --cor-fundo-botao: rgba(73, 73, 73, 0.979);
}